<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis dicta
        voluptatibus quisquam cupiditate expedita autem amet molestias, vitae
        reiciendis suscipit fuga iste animi aliquam quia laborum soluta rerum!
        Magnam, ullam.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
